<!--BEGIN: Subheader -->
<div class='page-header'>
  <div class='row'>
    <div class='col-md-12'>
      <h3>{{subHeaderData.title}}</h3>
      <!-- BEGIN: Breadcrumbs -->
      <ul class="breadcrumb">
        <li *ngFor="let breadcrumb of subHeaderData.breadcrumbs" class="breadcrumb-item">
          <a *ngIf="breadcrumb.url; else elseBlock" href="" [routerLink]="[breadcrumb.url]">{{breadcrumb.localeKey}}</a>
          <ng-template #elseBlock>
            <a class="active" aria-current="page" href="javascript:;">{{breadcrumb.localeKey}}</a>
          </ng-template>
        </li>
      </ul>
      <!-- END: Breadcrumbs -->
    </div>
  </div>
</div>
<!-- END: Subheader -->