<!-- BEGIN: Sub Header  -->
<app-sub-header [subHeaderData]="subHeaderData"></app-sub-header>
<!-- END: Sub Header  -->
<div class="content-wrapper">
  <div class="card animated fadeIn">
    <form #passwordForm='ngForm' (ngSubmit)='changePassword(passwordForm,passdata)'>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-6 offset-xl-3 col-lg-12">
            <div class="form-group row">
              <label class="col-xl-4 col-lg-4 col-form-label">Current Password</label>
              <div class="col-xl-8 col-lg-8"
                [ngClass]="((submitted || oldPassword.touched) && oldPassword.invalid)?'has-danger':''">
                <input class='form-control' type="password" name="oldPassword" [(ngModel)]="passdata.oldPassword"
                  placeholder="Enter Current Password" id="oldPassword" required #oldPassword="ngModel" />
                <div class="form-control-feedback error-block"
                  *ngIf="((submitted || oldPassword.touched) && oldPassword.invalid)">
                  {{showError('oldPassword', oldPassword.errors)}}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xl-4 col-lg-4 col-form-label">New Password</label>
              <div class="col-xl-8 col-lg-8"
                [ngClass]="((submitted || newPassword.touched) && newPassword.invalid)?'has-danger':''">
                <input class='form-control' minlength="8" maxlength="20" type="password" name="newPassword"
                  [(ngModel)]="passdata.newPassword" placeholder="Enter New Password" id="newPassword" required
                  #newPassword="ngModel" />
                <div class="form-control-feedback error-block"
                  *ngIf="((submitted || newPassword.touched) && newPassword.invalid)">
                  {{showError('newPassword', newPassword.errors)}}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xl-4 col-lg-4 col-form-label">Confirm Password</label>
              <div class="col-xl-8 col-lg-8"
                [ngClass]="((submitted || confirmPassword.touched) && confirmPassword.invalid)?'has-danger':''">
                <input class='form-control' minlength="8" maxlength="20" type="password" name="confirmPassword"
                  [(ngModel)]="passdata.confirmPassword" placeholder="Enter Confirm Password" id="confirmPassword"
                  required #confirmPassword="ngModel" />
                <div class="form-control-feedback error-block"
                  *ngIf="((submitted || confirmPassword.touched) && confirmPassword.invalid)">
                  {{showError('confirmPassword', confirmPassword.errors)}}
                </div>
              </div>
            </div>
            <hr />
            <div class="button-group">
              <div class="button-group-container text-right">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button type="button" class="btn btn-outline-primary"
                  [routerLink]="[URLConstants.DASHBOARD]">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- BEGIN: Content -->
<div class="m-content animated fadeIn">
  <div class="row">
    <div class="col-12">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__body">

        </div>
      </div>
      <!--End::Portlet-->
    </div>
  </div>
</div>
<!-- End: Content-->